
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
   
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Budget</title>
    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.png" />
  </head>
  <body>
    <div id="message"></div>
    
    <div id="greeting" style="color: red; font-size: 12px;"></div>

    <h1>Enter an Amount</h1>
    <form id="amount-form">
        <label for="amount">Amount:</label>
        <input type="number" id="amount" name="amount">
        <button type="submit">Submit</button>
    </form>

    <div id="amount-display">
      Current Balance: <div id="balance-amount"></div>
    </div>
   
  <script type="module" src="../dist/dashboard_ts/dashboard.js"></script>
  </body>
</html>


