
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
   
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Budget</title>
    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.png" />
  </head>
  <body>
    <div id="message"></div>
    
    <form action="/login" method="POST">
      <div>
        <div id="login_error_message" style="color: red; font-size: 12px;"></div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
      </div>
      <br>
      <div>
        <label for="password">Password:</label>
        <input type="password" id="password_digest" name="password_digest" required>
      </div>
      <br>
      <div>
        <button type="submit">Login</button>
      </div>
    </form>
   
  <script type="module" src="../dist/login_ts/login.js"></script>
  </body>
</html>



