<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
   
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Budget</title>
    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.png" />
  </head>
  <body>
   

    <form action="http://localhost:4567/signup" method="POST">
      <div>
        <div id="user_message" style="color: red; font-size: 12px;"></div>
        <label for="username" >Username:</label>
        <input type="username" id="username" name="username" required>
      </div>
      <br>
      <div>
        <div id="password_message" style="color: red; font-size: 12px;"></div>
        <label for="password_digest">Password:</label>
        <input type="password" id="password_digest" name="password_digest" required>
      </div>
      <br>
      <div>
        <button type="submit">Sign Up</button>
      </div>
    </form>
  

   
  <script type="module" src="../dist/signup_ts/signup.js"></script>
  </body>
</html>



